pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Execute Pipeline2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppl_strava_incre_activities_ingest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_access_token": "8b30f66f7b52eba52803707ad9fcd6ab6c69ed4b",
						"p_start_date_unix": {
							"value": "@activity('Execute Pipeline2').output.pipelineReturnValue.start_date_unix_prv",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Execute Pipeline2",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppl_read_table_control",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Pipeline3",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute Pipeline4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppl_strava_sub_activities_ingest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_access_token": "@activity('ppl_strava_access_token').output.pipelineReturnValue.access_token_prv.access_token"
					}
				}
			},
			{
				"name": "Execute Pipeline4",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppl_strava_access_token",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"param_client_id": "158577",
						"param_client_secret": "d5e21b6ebb7636877c654f1d652155ca647389d9",
						"param_grant_type": "refresh_token",
						"param_refresh_token": "48e11f8ee21f8e1e18fd7be414ce919930a7f5c4"
					}
				}
			}
		],
		"annotations": []
	}
}