pipeline/ppl_strava_data_ingest.json
{
	"name": "ppl_strava_data_ingest",
	"properties": {
		"activities": [
			{
				"name": "ppl_strava_athlete_ingest",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ppl_strava_access_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppl_strava_athlete_ingest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_access_token": {
							"value": "@activity('ppl_strava_access_token').output.pipelineReturnValue.access_token_prv.access_token",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ppl_strava_activities_ingest",
				"type": "ExecutePipeline",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "ppl_read_table_control",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppl_strava_activities_ingest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_access_token": {
							"value": "@activity('ppl_strava_access_token').output.pipelineReturnValue.access_token_prv.access_token",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ppl_strava_sub_activities_ingest",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ppl_strava_activities_ingest",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppl_strava_sub_activities_ingest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_access_token": {
							"value": "@activity('ppl_strava_access_token').output.pipelineReturnValue.access_token_prv.access_token",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ppl_move_files",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Wait 5 sec",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppl_move_files",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"source": "raw/strava/activities/processing_data/",
						"destination": {
							"value": "@concat('raw/strava/activities/', formatDateTime(utcNow(), 'yyyy-MM-dd'))",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ppl_strava_access_token",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppl_strava_access_token",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"param_client_id": "158577",
						"param_client_secret": "d5e21b6ebb7636877c654f1d652155ca647389d9",
						"param_grant_type": "refresh_token",
						"param_refresh_token": "8b30f66f7b52eba52803707ad9fcd6ab6c69ed4b"
					}
				}
			},
			{
				"name": "Wait 5 sec",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "ppl_strava_sub_activities_ingest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 5
				}
			},
			{
				"name": "ppl_read_table_control",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ppl_strava_access_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppl_read_table_control",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ppl_read_table_control",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppl_strava_incre_activities_ingest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_access_token": "@activity('ppl_strava_access_token').output.pipelineReturnValue.access_token_prv.access_token",
						"p_start_date_unix": {
							"value": "@activity('ppl_read_table_control').output.pipelineReturnValue.start_date_unix_prv",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"debugAccess_token": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-13T09:59:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}