pipeline/ppl_strava_data_ingest.json
{
	"name": "ppl_strava_data_ingest",
	"properties": {
		"activities": [
			{
				"name": "ppl_strava_athlete_ingest",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ppl_strava_access_token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppl_strava_athlete_ingest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_access_token": {
							"value": "@activity('ppl_strava_access_token').output.pipelineReturnValue.access_token_prv.access_token",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ppl_strava_sub_activities_ingest",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "If Condition1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppl_strava_sub_activities_ingest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_access_token": {
							"value": "@activity('ppl_strava_access_token').output.pipelineReturnValue.access_token_prv.access_token",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ppl_move_files",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Wait 5 sec",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppl_move_files",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"source": "raw/strava/activities/processing_data/",
						"destination": {
							"value": "@concat('raw/strava/activities/', formatDateTime(utcNow(), 'yyyy-MM-dd'))",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ppl_strava_access_token",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppl_strava_access_token",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"param_client_id": "https://kv-athlete-api-info.vault.azure.net/secrets/ClientID/bb0a6faad80d4f66b492528cd430ae52?api-version=7.5",
						"param_client_secret": "https://kv-athlete-api-info.vault.azure.net/secrets/ClientSecret/c51fd0b31e30467088194fed73ed032b?api-version=7.5",
						"param_grant_type": "refresh_token",
						"param_refresh_token": "f920ca396f5d49d0a4aaa6a2a0831756d5b82140"
					}
				}
			},
			{
				"name": "Wait 5 sec",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "ppl_strava_sub_activities_ingest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 5
				}
			},
			{
				"name": "ppl_read_table_control",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ppl_strava_athlete_ingest",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppl_read_table_control",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "set Flag Load",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ppl_move_files_athlete",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('flag_load')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Incremental_Load",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ppl_strava_incre_activities_ingest",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_access_token": {
										"value": "@activity('ppl_strava_access_token').output.pipelineReturnValue.access_token_prv.access_token",
										"type": "Expression"
									},
									"p_start_date_unix": {
										"value": "@activity('ppl_read_table_control').output.pipelineReturnValue.start_date_unix_prv",
										"type": "Expression"
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Full_Load",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "ppl_strava_activities_ingest",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"p_access_token": {
										"value": "@activity('ppl_strava_access_token').output.pipelineReturnValue.access_token_prv.access_token",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "set Flag Load",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "ppl_read_table_control",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "flag_load",
					"value": {
						"value": "@activity('ppl_read_table_control').output.pipelineReturnValue.full_carga_prv",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ppl_move_files_athlete",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ppl_read_table_control",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ppl_move_files",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"source": "raw/strava/athlete/processing_data/",
						"destination": {
							"value": "@concat('raw/strava/athlete/', formatDateTime(utcNow(), 'yyyy-MM-dd'))",
							"type": "Expression"
						}
					}
				}
			}
		],
		"variables": {
			"debugAccess_token": {
				"type": "String"
			},
			"flag_load": {
				"type": "Boolean"
			},
			"chevk": {
				"type": "Boolean"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-13T09:59:20Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}