pipeline/ppl_strava_access_token.json
{
	"name": "ppl_strava_access_token",
	"properties": {
		"activities": [
			{
				"name": "Refresh_Token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get_ClientID_KV",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get_ClientSecret_KV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"url": "https://www.strava.com/oauth/token",
					"body": {
						"value": "@concat(\n  '{',\n    '\"client_id\":\"', activity('Get_ClientID_KV').output.value, '\",',\n    '\"client_secret\":\"', activity('Get_ClientSecret_KV').output.value, '\",',\n    '\"grant_type\":\"', pipeline().parameters.param_grant_type, '\",',\n    '\"refresh_token\":\"', pipeline().parameters.param_refresh_token, '\"',\n  '}'\n)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set_Return_ppl",
				"type": "SetVariable",
				"state": "Active",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Refresh_Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "access_token_prv",
							"value": {
								"type": "Expression",
								"content": "@activity('Refresh_Token').output\n"
							}
						}
					],
					"setSystemVariable": true
				}
			},
			{
				"name": "Get_ClientID_KV",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@pipeline().parameters.param_client_id",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Get_ClientSecret_KV",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@pipeline().parameters.param_client_secret",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"parameters": {
			"param_client_id": {
				"type": "securestring"
			},
			"param_client_secret": {
				"type": "securestring"
			},
			"param_grant_type": {
				"type": "string",
				"defaultValue": "refresh_token"
			},
			"param_refresh_token": {
				"type": "string"
			}
		},
		"variables": {
			"access_token": {
				"type": "String"
			},
			"clientID": {
				"type": "String"
			},
			"clientSecret": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-06-13T09:57:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}